* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    width: 400px;
    /* height: 700px; */
   gap: 5px;
}

.grid-column4{
    grid-column: span 4;
}

.grid-column2{
    grid-column: span 2;
}


.grid >input{
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid green;
}

:focus{
    outline: none; 
}

.grid > span{
    padding: 10px;
    border-radius: 50px;
    background-color:green;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
}